<p>Hello {{ user.username }},</p>

<p>Your password reset request has been processed.<br>
Your new pasword is: {{ password }}</p>

<p><b>We highly recommend keeping it secret and removing this email due to security reasons.</b></p>

<p>With respect,<br>
DiseaseControl Team</p>
